body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.game {
  display: inline-flex; flex-direction: column;
  align-items: center; width: 100%;
  /* justify-content: center; */
}
.target {
  border: thin solid #999; width: 40%; height: 75px;
  font-size: 45px; text-align: center; display: inline-block;
  background-color: #ccc;
}
.challenge-numbers {
  width: 85%; margin: 1rem auto;
  /* justify-content: center; */
}
.number {
  border: thin solid lightgray; background-color: #eee;
  width: 40%; text-align: center; font-size: 36px;
  border-radius: 5px; margin: 1rem 5%; display: inline-block;
}
.footer {
  display: flex; width: 90%; justify-content: space-between;
}
.timer-value { color: darkgreen; font-size: 2rem; }
